* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Google Sans Regular";
}



h3{
    font-size: 10px;
    color: rgb(227, 130, 12);
}


.container_hero{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    height: 762px;
    background-image: url(../img/h1_hero1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.hero{
    text-align: end;
    padding-right: 30px;
    padding-left: 30px;
}

.hero_title{
    font-size: 20px;
    color: #fefefe;
    margin-top: 200px;
    
}

.hero_call{
    position: relative;
    bottom: 0;
    text-align: center;
    margin-top: 200px;
    padding-top: 15px;
    height: 60px;
    background-color: rgba(225, 158, 58, 0.5);

}

.hero_call a{
    color: #fefefe;
}


body {
    background-color: #fefefe;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: fixed;
}


.logo {
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
}

.hamburger {
    display: none;
}

.nav-bar.active {
    height: 450px;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: #11101b;
    background-color: #fefefe;
}

.nav-bar ul li a.active {
    color: #11101b;
    background-color: #fefefe;
}


/* Responsive Mobile*/

@media screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media screen and(max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}

@media screen and (max-width: 900px) {

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: #fefefe;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #242426fd;
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 350px;
        border-radius: 0 0 25px 25px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }
}

@media screen and (min-width: 550px) {
    .container_hero{

        background-image: url(../img/h1_hero.png);
    }
    .logo {
            font-size: 40px;
        }        
}
/*Fin navbar*/

/*about*/

.container__banner {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    padding: 20px;
}

.banner__img {
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: none;
    overflow: hidden;
}

.banner__img--size {
    width: 400px;

}

.banner__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: none;
}

.banner__text h2 {
    margin-bottom: 20px;
    color: var(--btn-bg-color);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .container__banner {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        text-align: center;
    }

    .banner__img--size {
        width: 400px;
    }
}
@media screen and (min-width: 766px) {

    .about{
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;
}
}
/* fin about*/









/*--- team ---*/
#team {
	position: relative;
	padding-top: 100px;
}
.team-desc {
	text-align: center;
	margin-bottom: 100px;
}
.team-item {
	text-align: center;
}
.team-item img {
	width: 100%;
}
.name {
	position: relative;
	background: #fff;
	border-radius: 4px;
	width: 230px;
	margin: 0 auto;
	bottom: 40px;
	padding: 15px 0;
	font-size: 25px;
	font-weight: 700;
	color: #000;
}
.spec {
	position: relative;
	bottom: 40px;
}
.social i {
	color: #DCB155;
	margin: 0 8px;
}
#team .scroll-line {
	top: 520px;
	border: 1px solid #DCB155;
}
#team .scroll-span {
	top: 650px;
	left: 35px;
	color: #DCB155;
}






/*--- responsive ---*/
@media (max-width: 1024.08px) {

	}
	.scroll-line, .scroll-span, .social-line, .social-v {
		display: none;
	}
	#about {
		background: none;
	}
	.services-desc {
		float: right;
		width: 55%;
	}


@media (max-width: 575.98px) {

	.service-item {
		text-align: center;
	}
	.services-desc {
		width: 100%;
	}
	.services-img {
		float: none;
		margin-right: 0;
		margin-bottom: 35px;
	}
	.services-desc p {
		margin-bottom: 2rem;
	}
	.services-desc span {
		padding: 9px 45px;
	}

	#team {
		padding-top: 70px;
	}
	.team-desc {
		padding: 0 8%;
	}
	.name {
		bottom: 30px;
	}
	#team .social {
		position: relative;
    	bottom: 50px;
	}

}

































/*Contacto*/

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    
}

ul {
    list-style: none;
    padding: 0;
}



.logo span {
    color: rgb(227, 130, 12);

}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: #222222;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
    color:rgb(154, 147, 147)
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid rgba(225, 158, 58, 0.5);
    margin: auto;

}

.contact-form form button {
    background: rgb(227, 130, 12);

    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* Informacion de Contacto*/
.contact-info {
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
    color: rgba(225, 158, 58, 0.5);

}
.contact-info ul li{
    margin-bottom: 5px;
}

/* LARGE SIZE */
@media(min-width: 700px) {

    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}

/* FINContacto*/

/*MAPA*/
.map{
    margin-top: 10px;
}














/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color:  #222222;
    margin-top: 10px;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color:rgba(225, 158, 58, 0.5);
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color:rgba(225, 158, 58, 0.5);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
/*:::::FIN Pie de Pagina*/